:root {
  font-family: system-ui, sans-serif;
  color: #111827;
  background: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
    margin: 20px;
    font-family: "Nunito", sans-serif;
}

.avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

.card {
    width: min(100%, 400px);
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: #023047;
    color: #fefae0;
    border-top: 6px solid #ffb703;
    border-bottom: 6px solid #ffb703;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

a {
    color: #fefae0;
}

a:hover{
    color: #ffb703;
}


main {
  min-height: 100vh;
  display: grid;
  place-content: center;
  padding: 2rem;
  text-align: center;
}
